.year-selector {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: x-large;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.year-selector select {
  font-size: initial;
  margin-left: .4em;
}

.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
